<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            Erkan Narmanli
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {# Fonts #}
        <link href='https://fonts.googleapis.com/css?family=Nunito:700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Catamaran:700' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Teko:500" rel="stylesheet"> 
        <link href="static/fonts/glyphicons-halflings-regular.ttf">
        <link rel="stylesheet" href="static/fonts/font-awesome/css/font-awesome.min.css">


        {# Global stylesheets #}
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/css/qwann_fr_new.css">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        <header>
        <div class="strong-banner head-banner">
            <div class="container">
                {% include "base_nav.html" %}
            </div><!-- /.container -->
        </div><!-- /.strong-banner -->
        <div class="soft-banner">
            <div class="container">
                <h1 class="page-title">{% block section_title %}{% endblock %}</h1>
            </div><!-- /.container -->
        </div><!-- /.soft-banner -->
        </header>
        <div id="principal">
            <div class="container">
                    <div class="row">
                        <main class="col-xs-12 col-sm-8">
                            {% block content %}{% endblock %}
                        </main>
                        <aside class="col-xs-12 col-sm-4">
                            {% block aside %}{% endblock %}
                        </aside>
                    </div>
            </div><!-- /.container -->
        </div><!-- /#principal -->

        <footer>
        <div class="soft-banner bottom-banner">
            {% include "base_foot.html" %}
        </div><!-- /.soft-banner -->
        <div class="strong-banner copyrights">
            <div class="container">
                {% block foot_copyrights %}{% endblock %}
            </div><!-- /.container -->
        </div><!-- /.strong-banner -->
        </footer>

        {# Global javascript #}
        <script src="static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/js/qwann_fr.js"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
