$dark_blue: #147187;
$blue : #1585B0;
$light_blue : #B4DDE2;
$dark_yellow : #DD7F0B;
$yellow : #F39200;
$light_yellow: #EFB36C;
$red : #BD3154;
//$background : #F9ECE4;
$background : #FCFAF1;
$beige : #A89F8F;
$black : #3C3C3B;