@charset "UTF-8";
html {
  height: 100%;
  color: #3C3C3B;
  background-color: #FCFAF1;
  font-family: "Newsreader", serif;
}
html a {
  text-decoration: none;
  color: #BD3154;
}
html a:active, html a:hover {
  text-decoration: underline dotted 2.5px;
  text-decoration-color: #BD3154;
  color: inherit;
}
html .chevron {
  color: #F39200 !important;
  font-family: "Righteous", cursive;
  font-size: 80%;
}
html .mono {
  font-family: "Ubuntu Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0px;
}

header, footer {
  flex: 0 0 auto;
}

#principal {
  flex: 1 0 auto;
  padding-bottom: 70px;
  padding-top: 25px;
  color: #3C3C3B;
  background-color: #FCFAF1;
  font-family: "Newsreader", serif;
  font-size: large;
  line-height: 1.35;
}
#principal .tuile {
  padding-top: 20px;
  padding-bottom: 23px;
  padding-left: 23px;
  padding-right: 15px;
}
#principal .tuile h2 {
  margin-top: 10px;
}
#principal .tuile:first-child {
  padding-top: 0px;
}
#principal .tuile:nth-child(odd) {
  background-color: #FCFAF1;
  background-clip: border-box;
}
#principal .tuile:nth-child(even) {
  background-clip: border-box;
  border: 2px dashed #A89F8F;
}
#principal a {
  font-family: "Fira Sans", sans-serif;
  font-size: 90%;
}
#principal h1 {
  font-size: 33pt;
  font-weight: 600;
}
#principal h2 {
  margin-top: 55px;
  font-size: 22pt;
  margin-left: 13px;
  padding-right: 13px;
  width: max-content;
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
  background-image: linear-gradient(to top, rgba(243, 146, 0, 0) 7%, #F39200 7%, #F39200 35%, rgba(243, 146, 0, 0) 35%);
}
#principal h2 > span {
  margin-left: -13px;
}
#principal h3 {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-size: 15pt;
  color: #1585B0;
}
#principal .cvcontent {
  margin-left: 40px;
  font-size: medium;
}
#principal .cvcontent .title {
  font-family: "Fira Sans", sans-serif;
  font-style: italic;
  color: #1585B0;
  margin-left: -40px;
  padding-right: 5px;
  font-size: 110%;
}
#principal ul.cvcontent {
  margin-top: 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 25px;
  list-style-type: none;
  font-family: "Ubuntu Mono", monospace;
  padding-left: 0px;
}
#principal ul.cvcontent .date {
  color: #DD7F0B;
}
#principal ul.cvcontent a {
  font-family: "Ubuntu Mono", monospace;
  font-size: 100%;
}
#principal ul.cvcontent a::before {
  content: "[ ";
}
#principal ul.cvcontent a::after {
  content: " ]";
}

header, header a, header a:active, header a:hover {
  color: #FCFAF1;
}
header .banner {
  background-color: #1585B0;
  padding-top: 10px;
  padding-bottom: 10px;
}
header .banner .photo {
  display: inline-block;
  padding-right: 20px;
}
header .banner .container {
  display: flex;
}
header .banner .menu {
  display: inline-block;
  margin-top: 10px;
}
header .banner .menu .name {
  font-family: "Vidaloka", serif;
  font-size: 35pt;
  line-height: 90%;
}
header .banner .menu ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 20px;
  list-style-type: none;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-size: x-large;
  padding-left: 0px;
}
header .banner .menu ul a:active, header .banner .menu ul a:hover {
  text-decoration: underline 2.5px;
  text-underline-offset: 4px;
  text-decoration-color: #F39200;
}
header .banner .menu ul a.no-decoration:active, header .banner .menu ul a.no-decoration:hover {
  text-decoration: none;
}
header .second-banner {
  background-color: #F39200;
  min-height: 15px;
}

footer {
  color: #147187;
}
footer a {
  color: inherit;
}
footer .banner {
  background-color: #B4DDE2;
  min-height: 40px;
  padding-top: 30px;
  padding-bottom: 20px;
}
footer .second-banner {
  background-color: #EFB36C;
  min-height: 20px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 900px;
  }
}

/*# sourceMappingURL=style.css.map */
