@import 'colors';

html {
    height  : 100% ;
    color   : $black;
    background-color: $background;
    font-family: 'Newsreader', serif;
    a {
        text-decoration: none;
        color: $red;
        &:active, &:hover {
            text-decoration: underline dotted 2.5px;
            text-decoration-color: $red;
            color: inherit;
        }
    }

    .chevron {
        color: $yellow!important;
        font-family: 'Righteous', cursive;
        font-size: 80%;
    }

    .mono {
        font-family: 'Ubuntu Mono', monospace;
    }
}

body{
    display	: flex;
    flex-direction: column;
    height	: 100%;
    margin  : 0px;
}


header, footer {
    flex    : 0 0 auto;
}

#principal {
    flex    : 1 0 auto ;
    padding-bottom: 70px;
    padding-top: 25px;
    color   : $black;
    background-color: $background;
    font-family: 'Newsreader', serif;
    font-size: large;
    line-height: 1.35;
    
    .tuile {
        padding-top: 20px;
        padding-bottom: 23px;
        padding-left: 23px;
        padding-right: 15px;

        h2 {
            margin-top: 10px;
        }
    }

    .tuile:first-child {
        padding-top: 0px;
    }

    .tuile:nth-child(odd) {
        background-color: $background;
        background-clip: border-box;
    }
    .tuile:nth-child(even) {
        background-clip: border-box;
        border: 2px dashed $beige;
    }

    a {
        font-family: 'Fira Sans', sans-serif;
        font-size: 90%;
    }

    h1 {
        font-size: 33pt;
        font-weight: 600;
    }
    $h2shift : 13px;
    h2{
        margin-top: 55px;
        font-size: 22pt;
        margin-left: $h2shift;
        padding-right: $h2shift;
        &>span {
            margin-left: -$h2shift;
        }
        width: max-content;
        font-family: 'Fira Sans', sans-serif;
        font-weight: 600;
        font-style: italic;
        background-image: linear-gradient(to top,rgba($yellow,0) 7%, $yellow 7%, $yellow 35%, rgba($yellow,0) 35%);
        //padding-left: 30px;
        //margin-left: 30px;
      }


    h3 {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 600;
        font-size: 15pt;
        color: $blue;
    }
    .cvcontent {
        margin-left: 40px;
        font-size: medium;
        .title {
            font-family: 'Fira Sans', sans-serif;
            font-style: italic;
            color: $blue;
            margin-left: -40px;
            padding-right: 5px;
            font-size: 110%;
        }
    }
    ul.cvcontent {
        margin-top: 2px;
        display: flex;
        flex-wrap: wrap;
        gap: 0px 25px;
        list-style-type: none;
        font-family: 'Ubuntu Mono', monospace;
        padding-left: 0px;
        //font-size: large;

        .date {
            color: $dark_yellow;
        }
        a {
            font-family: 'Ubuntu Mono', monospace;
            font-size: 100%;
            &::before {
                content: "[\202F";
            }
            &::after {
                content: "\202F]";
            }
        }
    }
}



header {
    &, & a, & a:active, & a:hover {
        color : $background;
    }
    .banner {
        background-color: $blue;
        padding-top: 10px;
        padding-bottom: 10px;

        .photo {
            display: inline-block;
            padding-right: 20px;
        }
        .container{
            display: flex;
        }
        .menu {
            display: inline-block;
            margin-top: 10px;
            .name {
                font-family: 'Vidaloka', serif;
                font-size: 35pt;
                line-height: 90%;
            }
            ul {
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                gap: 0px 20px;
                list-style-type: none;
                font-family: 'Fira Sans', sans-serif;
                font-weight: 300;
                font-size: x-large;
                padding-left: 0px;
                
                a:active, a:hover {
                    text-decoration: underline 2.5px;
                    text-underline-offset: 4px;
                    text-decoration-color: $yellow;
                }
                a.no-decoration:active, a.no-decoration:hover{
                    text-decoration: none;
                }
            }
        }
    }
    .second-banner {
        background-color: $yellow;
        min-height: 15px;
    }
}

footer {
    color: $dark_blue;
    a {
        color: inherit;
    }
    .banner {
        background-color: $light_blue;
        min-height: 40px;
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .second-banner {
        background-color: $light_yellow;
        min-height: 20px;
    }
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 900px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}