#lesson h1 {
    border-bottom   : 2px solid #000000 ;
    padding-bottom  : 2px;
    font-size: x-large;
}

#lesson h2 {
    border-bottom   : 0px solid #000000 ;
    text-decoration: underline;
    padding-bottom  : 0px;
    font-size: large;
}

#contentTOC > ul {
    padding-left: 15px;
}
