.affiche-box {
  padding: 0px 15px 15px 15px;
  margin-top: 30px;
  border: 2px solid #E22E45; }

.affiche-box h4 {
  margin-top: -15px; }

.affiche-box.document h4 {
  margin-top: -10px; }

.affiche-box h4 span {
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 25px; }

.affiche-box.document h4 span {
  font-size: 17px; }

.affiche-box.document ul {
  list-style-type: none;
  margin-bottom: 0px;
  padding: 0px 20px 0px 20px; }

.affiche_slug,
.affiche_date {
  font-size: large; }

.affiche_date {
  color: #8C8C8C; }

.description {
  margin-top: 20px; }

.box-link,
.box-link:hover,
.box-link:active,
.box-link:focus {
  color: inherit;
  text-decoration: inherit; }

/*# sourceMappingURL=folio.css.map */
