@import 'colors';


html {
    height  : 100% ;
    color   : $black;
}

body{
    display	  : flex;
    flex-direction: column;
    height	  : 100%;
}


header, footer {
    flex: 0 0 auto;
}

#principal {
    flex    : 1 0 auto ;
}

.strong-banner {
  padding-top       : 10px;
  padding-bottom    : 10px ;
  background-color  : $blue;
}

.page-header {
    margin-top : 0px ;
}

.navbar {
    margin-bottom : 0px;
}

.soft-banner h1 {
    margin      : 0px ;
    padding     : 15px 0px 10px 0px ;
    color       : white ;
}

.non-prod-banner {
    padding-top : 6px;
    background: repeating-linear-gradient(
        135deg,
        #5D5D5D,
        #5D5D5D 4px,
        #7D7D7D 4px,
        #7D7D7D 8px
    );
    color : white;
}
.non-prod-banner.dev-banner {
    background: repeating-linear-gradient(
        135deg,
        #8DB1DC,
        #8DB1DC 4px,
        #A0C2EB 4px,
        #A0C2EB 8px
    );
    color : #204B7D;
}
.non-prod-banner.backup-banner {
    background: repeating-linear-gradient(
        135deg,
        #DCD18D,
        #DCD18D 4px,
        #EBE1A0 4px,
        #EBE1A0 8px
    );
    color : #665D1D;
}

main h1 {
    border-bottom   : 7px solid $banner_bold_color ;
    padding-bottom  : 5px ;
}

main h2 {
    border-bottom   : 2px solid $bold_color ;
    padding-bottom  : 5px ;
}

.soft-banner {
    background-color : $banner_soft_color ;
}

main,
aside {
  padding-top 		: 10px ;
  padding-bottom 	: 10px ;
}

aside {
  margin-top		: 25px ;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}



.navbar-inverse {
  background-color : transparent ;
  border-style	   : none ;
}

aside {
  background-color 	: #F1F1F1 ;
  border-style		: solid ;
  border-width	        : 3px 0px 0px 0px;
  border-color		: #DADADA ;
}

.navbar-collapse {
  padding : 0px ;
}

a {
  color	: #D81138 ;
}

a:hover,
a:active,
a:focus {
  color : #D81138 ;
}


hr {
  border-top : 1px solid #D1D1D1 ;
}

.navbar-brand {
  padding : 0px ;
}
.name {
    padding-top     : 10px ;
    padding-left    : 15px ;
    font-family     : 'Vidaloka', serif;
    font-weight     : 700;
    color           : $pseudo_white ;
    line-height     : 1 ;
    font-size       : 200% ;

    display: inline;
}
.navbar-header {
    width: 100%;
}
.navbar-brand {
    float: none;
    display: inline-flex;
    width: 70%;
    //min-height: 75px;
}



.navbar-inverse .navbar-nav > li > a {
    color           : $pseudo_white ;
    //text-transform  : uppercase ;
    font-family: 'Fira Sans', sans-serif;
    font-size       : large;
    font-weight     : 300;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color               : $banner_soft_color ;
    background-color    : transparent ;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
    color           : #EFB0AA ;
    background      : transparent ;
}

.copyrights {
    font-family     : 'Nunito', sans-serif;
    color           : #D5B091 ;
}

.navbar-inverse .navbar-toggle {
    border-color    : $banner_soft_color ;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color : $banner_soft_color ;
    border-color     : $banner_bold_color ;
}

.navbar-collapse {
    border-top: 0px solid transparent ;
}


.navbar-nav {
    width: 100%;
}

@media (min-width: 768px) {
    .name {
        display: block;
    }
}


@media (min-width: 768px) {
    .navbar-nav {
    float : right ;
    width: auto;
    }
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus, 
.navbar-inverse .navbar-nav > .open > a:hover {
    background-color: $banner_soft_color ;
}

.soft-banner a,
.soft-banner a:hover {
    color : white ;
}

.bottom-banner {
    padding-top : 15px ;
    color: white;
}

.bottom-banner ul {
    list-style-type: none ;
    padding-left: 0px;
    padding-top: 5px;
}

@media (min-width: 768px) { 
    .twoRow .navbar-collapse {
        clear: left;
    }
}