{% extends 'base.html' %}
{% block title_more %}- Associatif{% endblock %}
{% block content %}
<div class="tuile">
    <h1>Activités associatives</h1>
    <p>En dehors de ma vie académique je suis, ou ai été, bénévole dans dans plusieurs structure associatives. Depuis 2022 je suis notamment le président Nightline France, où je suis bénévole de puis 2019.</p>
</div>
        

<div class="tuile">
    <h2><span>Nightline France</span></h2>
    <a href="https://www.nightline.fr/">Nightline France</a> est une association fondée en 2016 et dont la mission consiste à améliorer la santé mentale des étudiant, notamment en mettant à leur disposition une ligne d'écoute bénévole tous les soirs.
    <h3>Président</h3>
        <div class="cvcontent">
        Représentation dans les médias (TV, radio, presse écrite) et auprès de partenaires institutionnels et associatifs en France et à l'international  &bull; Association de ~250 bénévole et ~30 salariés  &bull; Budget annuel de 2.5M€.
        </div>
        <ul class="cvcontent">
            <li class="date">2022-24</li>
        </ul>
    <h3>Élu au conseil d'administration</h3>
        <div class="cvcontent">
        Définir la stratégie de l'association &bull; Développement d'une structure européenne pour les Nightlines &bull; Mandat de 2 an.
        </div>
        <ul class="cvcontent">
            <li class="date">2021-22</li>
        </ul>
    <h3>Formateur au service d'écoute</h3>
        <div class="cvcontent">
        Management d'une équipe de 25 formateur·rice·s bénévoles &bull;  Formation des bénévoles écoutant·e·s à l'<a href="https://fr.wikipedia.org/wiki/%C3%89coute_active">écoute active rogérienne</a>. 
        </div>
        <ul class="cvcontent">
            <li class="date">2020-22</li>
        </ul>
    <h3>Bénévole écoutant</h3>
        <div class="cvcontent">
        Aide par les pairs à travers une ligne d'écoute nocturne destinée aux étudiant·e·s &bull; Trois permanences par mois, le soir de 21h à 2h30 du matin.
        </div>
        <ul class="cvcontent">
            <li class="date">2019-21</li>
        </ul>  
</div>
<div class="tuile">
    <h2><span>À l'École normale supérieure</span></h2>
    <h3>Administrateur système</h3>
        <div class="cvcontent">
            Gestion de serveurs étudiants  &bull; hébergement de sites et services d'associations d'élèves  &bull; déploiement web  &bull; programmation pour le web.
        </div>
        <ul class="cvcontent">
            <li class="date">2016-20</li>
        </ul>
    <h3>Graphiste amateur</h3>
        <div class="cvcontent">
            Pour des conférences académiques, l'administration de l'École et des associations étudiantes. 
        </div>
        <ul class="cvcontent">
            <li class="date">2016-20</li>
        </ul>
    <h3>Bureau des élèves</h3>
        <div class="cvcontent">
            Mandat d'une année au <a href="https://cof.ens.fr">COF</a>, le bureau des Élèves de l'ENS, en tant que chargé de communication.
        </div>
        <ul class="cvcontent">
            <li class="date">2015</li>
        </ul>
</div>
{% endblock %}