<!-- Header -->
<div class="photo"><a class="no-decoration"  href="index.html"><img src="static/img/photo.png" alt="portait de Erkan Narmanli avec un bandana" style=height:100px;"></a></div>
<div class="menu">
    <ul class="">
        <li><a class="name no-decoration" href="index.html">Erkan</a></li>
        <li><a class="name no-decoration" href="index.html">Narmanli</a></li>
        <li style="width: 100%;"></li>
        <li><span class="chevron">>&#8239;</span><a href="recherche.html">Recherche</a></li>
        <li><span class="chevron">>&#8239;</span><a href="enseignements.html">Enseignements</a></li>
        <li><span class="chevron">>&#8239;</span><a href="associatif.html">Associatif</a></li>
        <li><span class="chevron">>&#8239;</span><a href="arts.html">Arts</a></li>
        <li><span class="chevron">>&#8239;</span><a href="cv.html">CV</a></li>
    </ul>
</div>