<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            Erkan Narmanli {% block title_more %}{% endblock %}
        </title>
        <meta name="description" content="Étudiant en 3em année de thèse à l'École Polytechnique en combinatoire bijective et énumérative, sous la direction de Gilles Schaeffer et Éric Fusy. Je suis également administrateur de Nightline France" />
        <link rel="canonical" href="https://qwann.fr" />
        <meta name="author" content="Erkan Narmanli"/> 
        <meta name="keywords" content="erkan, Erkan, narmanli, Narmanli, erkan narmanli, Erkan Narmanli, NARMANLI, erkan Narmanli, LIX, École Polytechnique, ENS" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        {# Fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,500;0,600;1,500;1,600&family=Newsreader:ital,wght@0,500;0,600;1,500;1,600&family=Righteous&family=Ubuntu+Mono&family=Vidaloka&display=swap" rel="stylesheet"> 

        <link href="static/fonts/glyphicons-halflings-regular.ttf">
        <link rel="stylesheet" href="static/fonts/font-awesome/css/font-awesome.min.css">


        {# Global stylesheets #}
        <link href="static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="static/css/style.css">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body>
        <header>
        <div class="banner">
            <div class="container">
                {% include "base_nav.html" %}
            </div><!-- /.container -->
        </div><!-- /.strong-banner -->
        <div class="second-banner">
        </div><!-- /.soft-banner -->
        </header>
        <div id="principal">
            <div class="container">
                {% block content %}{% endblock %}
            </div><!-- /.container -->
        </div><!-- /#principal -->
        <footer>
        <div class="banner">
            {% include "base_foot.html" %}
        </div><!-- /.soft-banner -->
        <div class="second-banner">
            <div class="container">
                {% block foot_copyrights %}{% endblock %}
            </div><!-- /.container -->
        </div><!-- /.strong-banner -->
        </footer>

        {# Global javascript #}
        <script src="static/js/jquery-3.2.1.min.js" type="text/javascript"></script>
        <script src="static/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="static/js/qwann_fr.js"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
