        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <strong>Liens utiles</strong>
                    <ul>
                        <li><a href="https://github.com/ErkanNarmanli/">GitHub</a></li>
                        <li><a href="https://gitlab.com/ErkanNarmanli">GitLab</a></li>
                        <li><a href="https://git.eleves.ens.fr/u/narmanli">GitÉlèves (ENS)</a></li>
                        <li><a href="https://www.linkedin.com/in/erkan-narmanli/">Page LinkedIn</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <strong>Pages amies</strong>
                    <ul>
                        <li><a href="http://evarin.fr/">Le site d'<i></i>Evarin</i>.</a></li>
                        <li><a href="http://blogs.eleves.ens.fr/lenid/">Blog <i>le nid</i>, par Julie Beauté.</a></li>
                        <li><a href="https://tobast.fr/">La page de <i>Tobast.</i></a></li>
                        <li><a href="https://wkerl.me/">La page de <i>Martin Pépin</i>.</a></li>
                        <li><a href="https://tumbolandia.net/">La page de <i>Michele Orrù</i>.</a></li>
                        <li><a href="https://twal.org/">La page de <i>Théophile Wallez</i>.</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.container -->
