{% extends 'base.html' %}
{% block title_more %}- Enseignements{% endblock %}
{% block content %}
<div class="tuile">
    <h1>Enseignements</h1>
    <p>Je suis moniteur à l'<a>École Polytechnique</a> où je donne principalement des enseignements d'informatique, avant cela j'ai été colleur de maths en classe préparatoire (MP*, MPSI, PC, ECS).</p>
</div>
        

<div class="tuile">
    <h2><span>École Polytechnique</span></h2>
    <h3>Introduction à Java</h3>
        <div class="cvcontent">
        Introduction à la programmation par Java à destination des élèves-ingénieurs n'ayant pas fait d'informatique. Base de la programmation, structure de données basiques (arbres et listes chaînées) et quelques problèmes classiques. Cours animé par <a href="http://www.lix.polytechnique.fr/Labo/Francois.Morain/">François Morain</a>.
        </div>
        <ul class="cvcontent">
            <li class="date">2022</li>
            <li>INF 361</li>
            <li>Java</li>
            <li><a href="https://moodle.polytechnique.fr/course/view.php?id=12378">page du cours</a></li>
        </ul>

        <h3>Bases de l'algorithmique</h3>
        <div class="cvcontent">
        Introduction aux questions de complexité et aux principales structures de données (pile, files, tables de hachage, files de priorité, classes disjointes). Problèmes algorithmiques associés. Cours animé par le fantastique <a href="https://www.lri.fr/~filliatr/index.fr.html">Jean-Christophe Filliâtre</a>, à destination des élèves-ingénieurs de l'X.
        </div>
        <ul class="cvcontent">
            <li class="date">2021-22</li>
            <li>INF 411</li>
            <li>Java</li>
            <li><a href="https://moodle.polytechnique.fr/course/view.php?id=14458">page du cours</a></li>
        </ul>

        <h3>Programmation pour le Web</h3>
        <div class="cvcontent">
        Cours principalement orienté front-end. Mise en page d'un site web, animation à l'aide JavaScript. Introduction au back-end et bases de PHP. Cours animé par <a href="https://imagecomputing.net/damien.rohmer/">Damien Rohmer</a>.
        </div>
        <ul class="cvcontent">
            <li class="date">2021</li>
            <li>CSE 104</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>PHP</li>
            <li><a href="https://moodle.polytechnique.fr/course/view.php?id=10680">page du cours</a></li>
        </ul>

        <h3>Introduction à Java</h3>
        <div class="cvcontent">
        Introduction à la programmation par Java à destination des élèves-ingénieurs de l'X n'ayant pas fait d'informatique. Base de la programmation, structure de données basiques (arbres et listes chaînées) et quelques problèmes classiques. Cours animé par <a href="http://www.lix.polytechnique.fr/Labo/Francois.Morain/">François Morain</a>.
        </div>
        <ul class="cvcontent">
            <li class="date">2021</li>
            <li>INF 361</li>
            <li>Java</li>
            <li><a href="https://moodle.polytechnique.fr/course/view.php?id=9890">page du cours</a></li>
        </ul>
    </div>
        

<div class="tuile">
    <h2><span>Colles de maths</span></h2>
        <div class="cvcontent">
            <span class="title">En MPSI à Henti IV</span>
            Heures d'interrogation orales en première année de prépa. Dans la classe de Sébastien Kerner, en HX3.
        </div>
            <ul class="cvcontent">
                <li class="date">2017-20</li>
                <li>2h/sem.</li>
            </ul>

        <div class="cvcontent">
            <span class="title">En PC à Saint-Louis</span>
            Heures d'interrogation orales en seconde année de prépa. Dans la classe de Gilles Sciuto, en PC2.
        </div>
            <ul class="cvcontent">
                <li class="date">2015-18</li>
                <li>1h/sem.</li>
            </ul>

            
        <div class="cvcontent">
            <span class="title">En ECS à Lavoisier</span>
            Heures d'interrogation orales en première année de prépa. Dans la classe de Thomas Pradeau, en ECS1.
        </div>
            <ul class="cvcontent">
                <li class="date">2016-17</li>
                <li>2h/sem.</li>
            </ul>

        <div class="cvcontent">
            <span class="title">En MP* à Fénelon Sainte-Marie</span>
            Heures d'interrogation orales en première année de prépa. Dans la classe de René Martel, en MP*.
        </div>
            <ul class="cvcontent">
                <li class="date">2015-16</li>
                <li>2h/sem.</li>
            </ul>
</div>
        

<div class="tuile">
    <h2><span>Autre enseignements</span></h2>
        <h3>Moniteur pédagogique</h3>
            <div>Dans une école d'été à destination de 80 lycéens, pendant une semaine.</div>
            <ul class="cvcontent">
                <li class="date">2020</li>
                <li>École Normale supérieure</li>
            </ul>
        <h3>TD de maths à Henri IV</h3>
            <div>Travaux dirigés de mathématiques en classe préparatoire en demi-classe, pendant un semestre. 1h30 par semaine, pour la classe de Sébastien Kerner, en HX3.</div>
            <ul class="cvcontent">
                <li class="date">2018</li>
                <li>1.5h/sem.</li>
            </ul>
</div>
{% endblock %}
