{% extends 'base.html' %}

{% block content %}
    <h1>À propos de moi</h1>
    <p>Je suis en première année de post-doc en bio-informatique à l'<a href="https://curie.fr">Institut Curie</a> où je travaille sur la biologie des cancers en collaboration avec <a href="https://curie.fr/personne/joshua-waterfall">Josh Waterfall</a>, <a href="https://curie.fr/personne/olivier-delattre-0">Olivier Delattre</a> et <a href="https://fr.wikipedia.org/wiki/Sophie_Postel-Vinay">Sophie Postel-Vinay</a> (à l'<a href="https://www.gustaveroussy.fr">Institut Gustave Roussy</a>). Je m'intéresse plus particulièrement à la prédiction de présentation des épitopes sur le complexe majeur d'histocompatibilité (CMH) de classe I.</p>
    <p>En septembre 2022 j'ai soutenu ma thèse à l'<a href="https://www.polytechnique.edu/">École Polytechnique</a>, au <a href="https://www.lix.polytechnique.fr/">LIX</a>, que j'ai préparé sous la direction de <a href="http://www.lix.polytechnique.fr/~schaeffe/">Gilles Schaeffer</a> et <a href="http://igm.univ-mlv.fr/~fusy/">Éric Fusy</a>. Durant mes années de thèse j'ai principalement travaillé sur les questions de combinatoire énumérative et asymptotique, ou encore d'algorithmique, sur des familles de cartes planaires.</p>
    <p>En dehors de mon travail, je suis le Président de <a href="https://www.nightline.fr/">Nightline France</a>, une association qui cherche à améliorer la santé mentale chez les étudiant·e·s.</p>


    <h2><span>Pour me contacter&hellip;</span></h2>
    <ul>
        <li>Par mail : <span class="mono">erkan.narmanli [chez] normalesup.org</span>.</li>
        <li>Par mail : <span class="mono">erkan.narmanli [chez] qwann.fr</span>.</li>
        <li>En sonnant au : 25 rue de la Convention, 75015 Paris.</li>
    </ul>

    <h2><span>Vous cherchez peut-être&hellip;</span></h2>
    <ul>
        <li>À voir mes <a href="recherche.html">publications et mes talks</a>.</li>
        <li>À lire mon <a href="https://file.qwann.fr/depot/manuscrit.pdf">manuscrit de thèse</a> ou encore <a href="https://file.qwann.fr/depot/Soutenance_de_these.pdf">mes slides</a></li>
        <li>À consulter ma page <a href="https://www.linkedin.com/in/erkan-narmanli/">LinkedIn</a></li>
        <li>À lire mon <a href="cv.html">CV</a>.</li>
    </ul>
{% endblock %}
