{% extends 'base.html' %}
{% block title_more %}- Recherche{% endblock %}
{% block content %}
<div class="tuile">
    <h1>Recherche académique</h1>
    <p>Cette page rassemble les différents articles de recherche que j'ai écrit, les conférences que j'ai donné, ainsi que divers mémoires rédigés au cours de ma scolarité. On y trouve également la liste de mes stages de recherche.</p>
</div>
        

<div class="tuile">
    <h2><span>Articles</span></h2>
        <div class="cvcontent">
            <span class="title">Enumeration of corner polyhedra and 3-connected Schnyder labelings</span>
            Éric Fusy, Erkan Narmanli, Gilles Schaeffer. Abstact étendu publié à FPSAC'22. Soumission papier en cours.
        </div>
        <ul class="cvcontent">
            <li class="date">2022</li>
            <li><a href="https://arxiv.org/abs/2202.09172">arXiv</a></li>
            <li><a href="http://math.iisc.ac.in/fpsac2022/">FPSAC'22</a></li>
        </ul>

        <div class="cvcontent">
            <span class="title">On the enumeration of plane bipolar posets and transversal structures</span>
            Éric Fusy, Erkan Narmanli, Gilles Schaeffer. Abstact étendu publié à EuroComb'21. Soumission papier en cours.
        </div>
        <ul class="cvcontent">
            <li class="date">2022</li>
            <li><a href="https://arxiv.org/abs/2105.06955">arXiv</a></li>
            <li><a href="https://eurocomb2021.upc.edu/accepted/">EuroComb'21</a></li>
        </ul>
    </div>

    <div class="tuile">
        <h2><span>Reviewer</span></h2>
            <div class="cvcontent">
                <span class="title">International Symposium on Mathematical Foundations of Computer Sciences</span>
                Review d'article scientifique pour une conférence internationale en informatique théorique.
            </div>
            <ul class="cvcontent">
                <li class="date">2022</li>
                <li class="date">Vienna (Austria)</li>
            </ul>
        </div>
        

    <div class="tuile">
    <h2><span>Talks</span></h2>
        <div class="cvcontent">
            <span class="title">Counting planar maps linked to corner polyhedra</span>
        </div>
        <ul class="cvcontent">
            <li class="date">juillet 2022</li>
            <li><a href="http://math.iisc.ac.in/fpsac2022/">FPSAC'22</a></li>
            <li>[ slides ]</li>
            <li>Bangalore (India)</li>
            <li>International conference</li>
        </ul>

        <div class="cvcontent">
            <span class="title">Counting planar maps linked to corner polyhedra</span>
        </div>
        <ul class="cvcontent">
            <li class="date">juin 2022</li>
            <li><a href="">JCB</a></li>
            <li>[ slides ]</li>
            <li>Bordeaux</li>
            <li>National conference</li>
        </ul>

        <div class="cvcontent">
            <span class="title">Decorated maps and quadrant tandem walks</span>
        </div>
        <ul class="cvcontent">
            <li class="date">avril 2022</li>
            <li><a href="https://ci.labri.fr/pmwiki.php/Groupe/2021-2022">LaBRI</a></li>
            <li><a href="doc/slides_GT_bordeaux.pdf">slides</a></li>
            <li>Bordeaux</li>
            <li>GT</li>
        </ul>

        <div class="cvcontent">
            <span class="title">On the enumeration of plane bipolar posets and transversal structures</span>
        </div>
        <ul class="cvcontent">
            <li class="date">avril 2022</li>
            <li><a href="https://www.cirm-math.fr/Schedule/screen_display.php?id_renc=2696">ALEA'22</a></li>
            <li><a href="doc/presentation_alea_22.pdf">slides</a></li>
            <li>Marseille</li>
            <li>National conference</li>
        </ul>

        <div class="cvcontent">
            <span class="title">Decorated maps and quadrant tandem walks</span>
        </div>
        <ul class="cvcontent">
            <li class="date">décembre 2021</li>
            <li><a href="https://indico.in2p3.fr/event/25504/">Journées cartes</a></li>
            <li><a href="doc/presentation_journees_cartes.pdf">slides</a></li>
            <li>Paris</li>
            <li>GT</li>
        </ul>

        <div class="cvcontent">
            <span class="title">On the enumeration of plane bipolar posets and transversal structures</span>
        </div>
        <ul class="cvcontent">
            <li class="date">septembre 2021</li>
            <li><a href="https://eurocomb2021.upc.edu/accepted/">EuroComb'21</a></li>
            <li><a href="doc/presentation eurocomb21.pdf">slides</a></li>
            <li>Barcelone</li>
            <li>European conference</li>
        </ul>
    </div>
        

    <div class="tuile">
    <h2><span>Stages de recherche</span></h2>
        <h3>À l'Universitat Politècnica de Catalunya</h3>
            <div class="cvcontent">
            Stage de recherche en combinatoire sur les graphes et cartes cordales. À l'Université Polytechnique de Catalogne (UPC) sous la direction de Marc Noy.
            </div>
            <ul class="cvcontent">
                <li class="date">2019</li>
                <li>4 mois</li>
                <li>Barcelone</li>
            </ul>
        <h3>À l'École Polytechnique</h3>
            <div class="cvcontent">
            Stage de recherche en combinatoire sur l'épluchage de cartes planaires. Au Laboratoire d'Informatique de l'École Polytechnique (LIX) sous la direction de Gilles Schaeffer.
            </div>
            <ul class="cvcontent">
                <li class="date">2018</li>
                <li>5 mois</li>
                <li>Palaiseau</li>
                <li><a href="doc/rapport_M2.pdf">rapport stage</a></li>
            </ul>
        </div>
        

        <div class="tuile">
    <h2><span>Mémoires</span></h2>
        <div class="cvcontent">
            <span class="title">Épluchage des bois de Schnyder et des structures transverses</span>
            Mémoire pour le M2 de mathématiques fondamentales de Jussieu. Par Erkan Narmanli, sous la direction de Gilles Schaeffer.
        </div>
        <ul class="cvcontent">
            <li class="date">2018</li>
            <li><a href="doc/rapport_M2.pdf">rapport M2</a></li>
        </ul>

        <div class="cvcontent">
            <span class="title">Jacobienne de graphes aléatoires</span>
            Mémoire pour le M1 de l'École Normale Supérieure. Par Erkan Narmanli et Ludovic Stephan, sous la direction de Omid Amini.
        </div>
        <ul class="cvcontent">
            <li class="date">2016</li>
            <li><a href="doc/rapport_M1.pdf">rapport M1</a></li>
        </ul>

        <div class="cvcontent">
            <span class="title">Absence de percolation au point critique dans une tranche</span>
            Mémoire pour la L3 de l'École Normale Supérieure. Par Erkan Narmanli et Martin Pépin, sous la direction de Raphaël Cerf.
        </div>
        <ul class="cvcontent">
            <li class="date">2015</li>
            <li><a href="doc/rapport_L3.pdf">rapport L3</a></li>
        </ul>

        <div class="cvcontent">
            <span class="title">La fonction zêta de Riemann et la répartition des nombres premiers</span>
            Mémoire écrit à Jussieu en vu des concours des ENS. Par Erkan Narmanli, sous la direction de Samuel Baumard.
        </div>
        <ul class="cvcontent">
            <li class="date">2014</li>
            <li><a href="doc/rapport_L2.pdf">document</a></li>
        </ul>
        </div>
{% endblock %}
